.photo-details-modal {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 85%;
  width: 85%;
  overflow-y: scroll;
  border-radius: 12px;
}

.photo-details-modal__close-button {
  background-color: white;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 2em
}

.photo-details-modal__images {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: 1.5rem;
  padding-left: 0px;
}

.photo-details-modal__large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: .5rem;
  padding-left: 0px;
  object-fit: cover;

  .photo-list__fav-icon {
    top: 4%;
    right: -5%;
  }
}

.photo-details-modal__image {
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
  max-width: 95%;
}

.photo-details-modal__top-bar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: white;
  height: 3rem;
}

.photo-details-modal__photographer-details {
  display: flex;
  align-content: center;
  align-items: center;
  margin: 1em;
  font-size: 16px;
  padding: none;

  h1, h3 {
    margin: .1rem;
  }
}

.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 90%;
}

.photo-details-modal__photographer-location {
  color: #838383;
}
.photo-details-modal__photographer-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: .5rem;
  width: 5rem;
  height: 5rem;
}

.photo-details-modal__photographer-info {
  margin-top: .4 rem;
  font-weight: 700;
  font-size: 12px;
  margin-left: .5 rem;
}
