.photo-list__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 24px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-top: none;
  border-width: 0.5px;
  border-color: lightgray;
  border-style: solid;
  border-radius: 8px;
  max-width: fit-content;
}

.photo-list__image {
  border-radius: 8px 8px 0px 0px;
  user-select: none;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.photo-list__user-profile {
  object-fit: cover;
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.photo-list__user-details {
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}

.photo-list__user-info {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: .5em;
  font-weight: 700;
  font-size: 12px;

  h1, h3 {
    margin: .1rem;
  }
}

.photo-list__user-location {
  color: #838383;
}